*,
::before, 
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Nav bar section */
nav {
    height:7vh;
    display: flex;
    justify-content: space-between;
    line-height: 1.1em;

}

.logo img{
    width: 40px;
}

.menu-search{
    justify-content: flex-end;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.p-10{
    padding: 10px;
}

.search{
    color:grey;
}
.bar{
    color: red;
    font-size: large;
}

/* Main section */

.disclaimer{
    background-color: yellow;
    padding:20px;
}

.medicine img{
    width:100%;
}

.font{
    font-size: xx-small;
}

.medicine {

    text-align: center;
    background: rgba(0, 0, 0, 0.336); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color:white;

}



.latest-news {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    margin-bottom: 18px; 
}

.latest-news h2 {
    padding-right: 10px;
    color:  #f42;
    font-weight: 900;
}

.latest-news .fas {
    color:  #f42;
    font-size: 20px;
}



.section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    margin-bottom: 10px;
}

.section-1 img {
  /* border: 1px solid red;*/
   width: 100px; 
}

.section-1-text {
    /*border: 1px solid green;*/
   font-size: 13px; 
   display: block;
   line-height: 16px;
   font-weight: 700;
   color: #111;
   width: 275px;
}

.section-1-lastp {
    color: rgb(116, 112, 112);
}

.section-1-main-container {
   /*border: 1px solid blue;*/
   margin: 20px 20px;
}

.funding {
  /*border: 1px solid red;*/
 line-height: 30px;
 color: #f42;
}

.index {
  display: flex;
  justify-content: flex-start;
 /* border: 1px solid black;*/
  align-items: center;
  color: #f42;
  margin-bottom: 10px;
}

.index h2 {
   /*border: 1px solid yellow;*/
   padding-right: 10px; 
}

.index .fas {
  /*border: 1px solid purple;*/
  font-size: 20px;
}

.more {
  /*border: 1px solid red; */
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f42; 
  margin-bottom: 27px;
}

.funding-container {
    /*border: 1px solid blue;*/
    margin: 20px 20px;
 }

 .willow {
     border: 1px solid red;
     padding: 10px 10px 10px 80px;
     background-color: #f42;
     color: #fff;
     font-weight: 700;
     padding: 10px 10px 10px 80px;
     
 }

 .seed {
   border: 1px solid rgb(248, 245, 245);  
   padding: 10px 10px 10px 80px;
   background-color: rgb(216, 201, 201); 

 }

 .seed h4 {
     font-weight: 900;
     font-size: 18px;   
 }

 .seed h5 {
     color: rgb(63, 58, 58);
 }

 .italic {
     border: 1px solid cornflowerblue;
     width: 60px;
     display: block;
     text-align: center;
     padding: 10px;
     position: absolute;
     margin: 13px 10px 10px 10px;
     background-color: cornflowerblue;
     height: 8vh;
     line-height: 30px;
     font-size: 25px;
     font-style: italic;
     color: #fff;
 }

 .video {
     /*border: 1px solid purple;*/
     display: flex;
     padding-bottom: 10px;
     /*line-height: 25px; */  

 }

 .video, 
 .fas {
     padding-right: 10px;
 }

 .venture {
     display: flex;
 }

 .video-container {
     /*border: 1px solid pink;*/
     padding: 10px;
     /*line-height: 25px;*/
     border-bottom: 1px solid pink;
     background-color: whitesmoke;
 }

 .raises {
     /*border: 1px solid purple;*/
     padding: 15px 0 30px 0;
     font-size: 14px;
     background-color: whitesmoke;
 }

 .finsmes {
     /*border: 1px solid red;*/
     color: rgb(124, 116, 116);
 }
