*,
::before, 
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Nav bar section */
nav {
    height:7vh;
    display: flex;
    justify-content: space-between;
    line-height: 1.1em;

}

.logo img{
    width: 40px;
}

.menu-search{
    justify-content: flex-end;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.p-10{
    padding: 10px;
}

.search{
    color:grey;
}
.bar{
    color: red;
    font-size: large;
}

/* Main section */

.disclaimer{
    background-color: yellow;
    padding:20px;
}

.medicine img{
    width:100%;
}

.font{
    font-size: xx-small;
}

.medicine {

    text-align: center;
    background: rgba(0, 0, 0, 0.336); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color:white;

}



.latest-news {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    margin-bottom: 18px; 
}

.latest-news h2 {
    padding-right: 10px;
    color:  #f42;
    font-weight: 900;
}

.latest-news .fas {
    color:  #f42;
}



.section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    margin-bottom: 10px;
}

.section-1 img {
  /* border: 1px solid red;*/
   width: 100px; 
}

.section-1-text {
    /*border: 1px solid green;*/
   font-size: 13px; 
   display: block;
   line-height: 16px;
   font-weight: 700;
   color: #111;
   width: 275px;
}

.section-1-lastp {
    color: rgb(116, 112, 112);
}

.section-1-main-container {
   /*border: 1px solid blue;*/
   margin: 20px 20px;

}
